$bp1: 1450.98px;
$bp2: 1020.98px;
$bp3: 767.98px;
$bp4: 520.98px;
$color-red: #fe043c;
$color-paris: #2e266f;
$color-white: #fff;
$color-seashell: #fff5ec;
$color-gray: #707070;
$color-green:#31A24C;
$color-chardon: #FFEDDE;
$color-black: #000;